@import "./generals/variables";
@import "./generals/mixins";
@import "./generals/normalize";

@import "./components/header";
@import "./components/footer";
@import "./components/banner";
@import "./components/free";
@import "./components/search";
@import "./components/profil";
 
