.footer {
    width: 100%;
    height: 63px;
    
    position: fixed;
    bottom: 0;
    left: 0;
    @include center(row);
    
    background: rgba(130, 128, 128, 0);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.3px);
    -webkit-backdrop-filter: blur(8.3px);
    border: 1px solid rgba(130, 128, 128, 0.77);

    .container {
        width: 90%;
        display: flex;
        justify-content: space-between;
    }

    &__items {
        width: 36px;
        height: 36px;
        border-radius: 8px;
        transition: 0.2s ease;
        opacity: 0.5;
        cursor: pointer;

        &.active {
            opacity: 1;
            // border: 1px solid white;
            box-shadow: -3px -20px 40px -7px rgba(156, 156, 156, 0.87);
            -webkit-box-shadow: -3px -20px 40px -7px rgba(156, 156, 156, 0.87);
            -moz-box-shadow: -3px -20px 40px -7px rgba(156, 156, 156, 0.87);
        }
    }
}