.free {
    width: 100%;
    
    @include center(row);


    & .container {
        display: flex;
        flex-direction: column;
        width: 95%;
        gap: 5px;
    }

    &__title {
        width: 100%;
        font-family: Roboto;
        font-weight: 600;
        font-size: 25px;
        color: #e5e5e5;
        height: 25px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

    }

    &__boxs {
        width: 100%;
        display: flex;
        margin-top: 10px;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        gap: 10px;

        
    }


    &__box {
        width: 30%;
    }

    &__box:hover {
        transition: all 0.3s;
        transform: scale(1.1);
    }

    &__but {
        font-family: sans-serif;
        font-size: 16px;
        text-align: end;
        color:rgb(74, 74, 144);
    }


    &__box img {
        border-radius: 5px;
        width: 103px;
        height: 147px;

    }

    &__box p {
        font-family: Roboto;
        font-weight: 400;
        font-size: 13px;
        color: #e5e5e5;


    }
}