@import url(https://fonts.googleapis.com/css?family=Roboto:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);


.info {
    width: 100%;
    @include center(row);

    & .container {
        width: 90%;
        display: flex;
        flex-direction: column;
        border-radius: 23px;
        background-color: rgb(68, 60, 104);
        

    }


    &__items, #name {
        width: 100%;
        height: 50px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 20px;
        
    }

    &__title {
        font-family: Roboto;
        font-weight: 600;
        font-size: 15px;
        color: #e5e5e5;

    }
}


.profil {
    width: 100%;
    height: 250px;
    @include center(row);

    & .container {

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }

    &__imgd {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        border: 2px solid #00fff7;
        box-shadow: 0 0 15px #00fff7;
        object-fit: cover;
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;

    }

    &__title {
        font-family: Roboto;
        font-weight: 600;
        font-size: 25px;
        text-align: center;
        color: #e5e5e5;



    }
}