.profil {
    width: 100%;
    height: 320px;
    @include center(row);

    & .container {

        display: flex;
        flex-direction: column;
        align-items: center;

    }

    &__imgd {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        border: 2px solid #00fff7;
        box-shadow: 0 0 15px #00fff7;
        object-fit: cover;
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;

    }

    &__title {
        font-family: Roboto;
        font-weight: 600;
        font-size: 20px;
        text-align: center;
        color: #e5e5e5;

    }
}