@import url(https://fonts.googleapis.com/css?family=Roboto:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);




.browse {
    width: 100%;
    display: flex;
    margin-top: 30px;
    flex-direction: column;
    align-items: center;


    & .container {
        width: 90%;
        display: flex;
        flex-direction: row;
        gap: 15px;
        flex-wrap: wrap;
    }

    &__box {
        width: 46%;
        margin-bottom: 10px;

        &:hover {
            transition: all 0.4s;
            transform: scale(1.1);
        }
    }

    &__box img {
        width: 100%;
        border-radius: 5px;

    }

    &__title {
        font-family: Roboto;
        font-weight: 500;
        font-size: 20px;
        color: #e5e5e5;

    }
}






.praducts {
    width: 100%;
    margin-top: 10px;
    @include center(row);

    & .container {
        width: 90%;
        display: flex;
        flex-direction: column;
        gap: 5px;

    }

    &__items {
        width: 100%;

        display: flex;
        flex-direction: row;

        background: rgb(68, 60, 104);
        border: 1px solid #462e54;
        border-radius: 5px;
        height: 74px;

        &:hover {
            transition: all 0.6s;
            transform: scale(1.1);
        }

    }

    &__img {
        width: 88px;
        height: 74px;

    }


    &__title {
        font-family: Roboto;
        font-weight: 400;
        font-size: 16px;
        color: #e5e5e5;

    }

    &__info {
        display: flex;
        width: 80%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 10px;


    }
}









.search {
    width: 100%;
    height: 60px;
    @include center(row);

    border-bottom: 2px solid white;


    & .container {
        width: 90%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

    }

    &__title {
        font-family: Roboto;
        font-weight: 600;
        font-size: 20px;
        color: #e5e5e5;

    }

    &__icon {
        width: 27px;
        height: 27px;

    }
}