@mixin media($size) {
    @media screen and (max-width:$size) {
        @content
    }
};

@mixin center($pos) {
    display: flex;
    flex-direction: $pos;
    justify-content: center;
    align-items: center;
}